/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Didact Gothic', 'sans-serif';
    margin: 0px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}